body {
    background-color: #ffffff96;
}

header {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

section {
    text-align: center;
    height: auto;
    width: auto;
    background: #57555544;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 2px #0a0a0aa1 ;

}
button {
    font-family: Arial, Helvetica, sans-serif;
    background: #1f0353e7;
    color: white;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px
}

footer{
    text-align: center;
    padding: 10px;
}

img {
    padding-top: 10px;
    padding-left: 10px;
    width: 150px;
    height: 150px;
}

.resposta1 {
    text-align: center;
    margin: auto;
    background: #444343a1;
    width: auto;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    
}
.resposta2  {
    text-align: justify;
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
    background: #444343a1;
    width: auto;
    height: auto;
    padding: 10px; 
    padding-top: 20px;
    display: flex;
    gap: 0px 0px;
    justify-content: center;
    align-items: stretch;
    
    
}
.resposta2 p {
    margin: auto;
    margin-left: 0px;
    margin-right: 90px;
    padding-left: 0px;
}
.resposta2 b {
    font-size: 30px;
    padding: 0px;
    margin-right: 0px;
    
}



.item {
    text-align: center;
    background: #444343a1;
    width: auto;
    height: 10px;
    padding: 10px; 
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin: auto;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    
}
.item2  {
    text-align: center;
    background: #444343a1;
    width: auto;
    padding: 10px; 
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}  
.resposta3  {
    text-align: justify;
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
    background: #444343a1;
    width: auto;
    height: auto;
    padding: 10px; 
    padding-top: 20px;
    display: flex;
    gap: 0px 0px;
    
    
    
    
    
}
.resposta3 p {
    margin: auto;
    margin-left: 5px;
    margin-right: 20px;
    padding-left: 0px;
}
.resposta3 b {
    font-size: 30px;
}





















